
<div class = "row">
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"> 
      <%= image_tag "TNY_HeroLogo.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "TNY_Hero_placesaver.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "TNY_Hero_placesaver2.jpg" %>
    </div>
  </div>
  
</div>




<div class = "row">

    <div class = "col-md-4">
      <h2>SERVICES</h2>
       <p>Techway is here for all your PC computer repair and maintenance needs.  Check out our services!</p>
       <button class ="t-button-large"><%= link_to 'Our Services',  services_client_path %></button>
    </div>


    <div class = "col-md-4">
      <h2>OUR CLIENTS SAID... </h2>
      <% @reviews.each do |review| %>
      <tr id = "fader">
      <td class = "quotes"><%= review.name %></td>
      <br>
      <td class = "quotes"><%= review.review %></td>
      <br>
      </tr>
      <% end %>
    </div>

    <div class = "col-md-4">
      <h2>Contact Us!</h2>
      <p>Techway is here 24/7 to help.  Get in touch!</p>
      <button class ="t-button-large"><%= link_to 'Contact Us', new_static_page_path %></button>
    </div>

</div> 



