
<div class = "row">
  <div class = "col-md-10 col-md-offset-2">
    <%= image_tag "TNY_HeroLogo.jpg" %>
  </div>


<div class = "col-md-6 col-md-offset-3">
  <div id="myCarousel" class="carousel slide">
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item"> 
        <h1 class = "savingsbond">PC Repair Experts</h1>
      </div>
      <div class="item">
       <h1 class = "savingsbond">Quality Service</h1>
      </div>
      <div class="item">
        <h1 class = "savingsbond">Affordable Prices</h1>
      </div>
    </div>
  </div>
  
</div>




<div class = "row">

    <div class = "col-md-4">
      <h2>SERVICES</h2>
       <p>Techway NY is here for all your PC computer repair and maintenance needs.  Check out our services!</p>
       <button class ="t-button-large"><%= link_to 'Our Services',  services_client_path %></button>
    </div>


    <div class = "col-md-4">
      <h2 class = "bump">OUR CLIENTS SAY... </h2>
       <ul id= "content">
        <% @reviews.each do |review| %>
            <li><h3 class = "review-bold">"<%= review.review %>"</h3><h4 class="name-bold">-<%= review.name %></h4></li>   
        <% end %>
      </ul>
    </div>

    <div class = "col-md-4">
      <h2>CONTACT US</h2>
      <p>Techway NY is here 24/7 to help.  Get in touch!</p>
      <br>
      <button class ="t-button-large"><%= link_to 'Contact Us', new_static_page_path %></button>
    </div>

</div> 



