
<div class = "row">
<div id="myCarousel" class="carousel slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"> 
      <%= image_tag "TNY_HeroLogo.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "TNY_Hero_placesaver.jpg" %>
    </div>
    <div class="item">
      <%= image_tag "TNY_Hero_placesaver2.jpg" %>
    </div>
  </div>
  
</div>




<div class = "row">

    <div class = "span4">
      <h2> Services </h2>
        <% @services.each do |service| %>
        <b><%= service.name %></b>
        <br>
        <%= service.description %>
        <br>
      <% end %>
       <button class ="t-button-large"><%= link_to 'Our Services',  services_client_path %></button>
    </div>


    <div class = "span4">
      <h2> Reviews On The Fly! </h2>
      <% @reviews.each do |review| %>
      <tr>
      <td><%= review.name %></td>
      <br>
      <td><%= review.review %></td>
      <br>
      </tr>
      <% end %>
    </div>

    <div class = "span4">
      <h2>Contact Us!</h2>
      <button class ="t-button-large"><%= link_to 'Contact Us', new_static_page_path %></button>
    </div>

</div> 



