<h1> SERVICES </h1>

<% @services.each do |service| %>
	<b><%= service.name %></b>
	<br>
	<%= service.description %>
	<br>
<% end %>
<br>

<h2> REVIEWS </h2>
<% @reviews.each do |review| %>
  <tr>
    <td><%= review.name %></td>
    <br>
    <td><%= review.review %></td>
    <br>
  </tr>
<% end %>

<br>



<%= link_to 'Home', new_static_page_path %>