<div class = "col-md-12">
	<div class = "header-style">
		<h1 class = "title">NEW CLIENT</h1>
	</div>
	<div class = "bump">
		<% if notice %>
			<p class="alert alert-notice"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-error"><%= alert %></p>
		<% end %>
			<p class="navbar-text pull-right">
		<% if admin_signed_in? %>
			Logged in as <strong><%= current_admin.email %></strong>.
			<%= link_to 'Edit profile', edit_admin_registration_path, :class => 'navbar-link' %> |
			<%= link_to "Logout", destroy_admin_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			<%= link_to "Sign up", admin_registration_path, :class => 'navbar-link'  %> |
			<%= link_to "Login", new_admin_session_path, :class => 'navbar-link'  %>
		<% end %>
	</div>
</div>

<div class = "row">
	<div class = "col-md-3">
		<div class = "sidebar-style">
			<h1>DASHBOARD OPTIONS</h1>
				<ul class="nav">
					<li class="active"><a href="/admin"> Home</a></li>  
					<li class="active"><a href="/services">Manage Services</a></li>
					<li class="active"><a href="/reviews">Manage Reviews</a></li>  
				</ul>
		</div>
	</div>

	<div class = "col-md-9">
	<h1> NEW CLIENT ADMIN SIDE </h1>
	<p>This page is currently not in use.  Please go to the Client Side and enter in clients manually from there.</p>	
	</div>
</div>
