<h1>Listing reviews</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Review</th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.name %></td>
    <td><%= review.email %></td>
    <td><%= review.review %></td>
    <td><%= review.active %></td>
    <td><%= link_to 'Show', review_path(review) %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
     
  </tr>
<% end %>
</table>

<%= link_to 'Home', admin_path %>